html,
body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(
        96deg,
        rgba(226, 48, 48, 1) 24%,
        rgba(0, 132, 230, 1) 80%
    );
    background-repeat: no-repeat;
    background-size: auto;
}

.main-container {
    background-color: transparent;
    padding: 0 1.5em;
}

.logo {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-color: transparent;
}

.title {
    margin-bottom: 30px;
    color: #686868;
    font-size: 1.5rem;
    font-weight: 300;
}

.txt-info {
    font-size: 13px;
    text-align: center;
}

.icon {
    height: 32px;
    width: 32px;
    margin-bottom: 10px;
}

.link {
    color: #138de8;
}

.forgot-psw {
    margin-top: 5px;
    margin-bottom: 15px;
}

.btn-registry {
    background-color: #f61525;
    width: 50%;
    max-width: 50%;
}

.account-question a {
    display: block;
}

@media screen and (min-width: 768px) {
    .login-body {
        padding: 1.25rem 2.28rem;
    }

    .title {
        font-size: 2rem;
    }

    .txt-info {
        font-size: 15px;
    }

    .account-question a{
        display: initial;
    }
}

@media screen and (min-width: 992px) {
    .header {
        width: 25%;
        position: fixed;
        margin-top: 20px;
    }

    .logo {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5%;
        margin-left: 20px;
    }

    .main-row {
        margin-top: 50px;
    }

    .main-container {
        padding: 1.5em;
    }

    .title {
        margin-bottom: 60px;
    }
}
