body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  color: #e4eef5;
  position: absolute;
  z-index: 1;
}

.header a {
  color: #e4eef5;
  text-decoration: none;
}

.menu {
  height: 175px;
  position: relative;
  background: rgb(218, 30, 43);
  background: linear-gradient(
    90deg,
    rgba(0, 142, 215, 0.6) 50%,
    rgba(218, 30, 43, 0.6) 50%
  );
}

#menu-blue {
  background-color: rgba(0, 142, 215, 0.6);
  height: auto;
  width: 50%;
}

#menu-red {
  display: flex;
  flex-direction: column;
  background-color: rgba(218, 30, 43, 0.6);
  height: auto;
  width: 50%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  margin-top: 30px;
}

.li-half {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}

.link {
  font-family: "Roboto", sans-serif; /*thin*/
  font-weight: 300;
  margin-top: 10px;
}

.menu-link {
  font-size: 30px;
}

.menu-login {
  text-align: end;
  margin-top: 15px;
  margin-right: 20px;
}

.menu-login a {
  border-bottom: 1px solid;
}

.logo {
  position: absolute;
  margin: 0;
  height: 180px;
  width: 195px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo img {
  height: 180px;
  width: 195px;
}

.hero {
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  position: relative;
  background-image: url("Assets/hero-nuevo-alta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-background {
  padding-top: 65%;
  background-image: url("Assets/hero-nuevo-alta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.web-nameWrapper {
  position: absolute;
  top: 210px;
  height: 50px;
}

.web-name-image {
  height: 170px;
}

.title {
  font-family: "Roboto", sans-serif; /*light*/
  font-size: 70px;
}

.slogan {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  bottom: 342px;
  text-align: center;
}

.slogan h1 {
  line-height: 1.3em;
  font-weight: 300;
  color: #e4eef5;
}

.about {
  display: flex;
  height: 800px;
}

.about-title {
  width: 550px;
  margin: 0;
  margin-top: 25px;
  font-weight: 300;
}

.about-detailsWrapper {
  width: 550px;
  margin-left: 35px;
}

.about-descriptionWrapper {
  margin-top: 30px;
  text-align: center;
}

.about-description {
  font-family: "Roboto", sans-serif; /*thin*/
  font-size: 36px;
  font-weight: 100;
  margin: 0;
  margin-left: 30px;
}

.about-imageWrapper {
  align-self: center;
  margin-left: 0;
  margin-bottom: 100px;
}

.about-image {
  width: 590px;
}

.servicesWrapper {
  display: flex;
  justify-content: space-around;
  height: 555px;
  background-color: #add4f9;
}

.article {
  display: inherit;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.services-title {
  font-family: "Roboto", sans-serif; /*medium*/
  font-size: 38.09px;
}

#traslado h1 {
  color: #42aafc;
}

#vital h1 {
  color: #e23030;
}

.services-descriptionWrapper {
  display: inherit;
  flex-direction: column;
  align-items: center;
  width: 500px;
  text-align: justify;
}

.services-description {
  font-family: "Roboto", sans-serif; /*medium italic*/
  font-size: 24px;
  margin-bottom: 70px;
  color: white;
}

.btn-request {
  display: flex;
  flex-direction: column;
}

.btn-request a {
  align-self: center;
  border: 1px solid #ee1625;
  padding: 4px 22px;
  background-color: #ee1625;
  text-decoration: none;
  color: white;
  font-size: 34.28px;
}

.btn-request-hero {
  align-self: flex-end;
}

.contact {
  width: 100%;
  height: 755px;
  background-image: url("Assets/contacto-alta_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background-image {
  width: 100%;
}

.contact-titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  padding: 10px 20px;
  background-color: #6fb5d5;
  color: white;
  text-align: center;
  position: absolute;
}

.contact-title {
  margin: 0;
}

.contact-infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info {
  font-family: "Roboto", sans-serif; /*thin*/
  font-size: 35px;
  margin-top: 10px;
}

.contact-info-box {
  display: flex;
  justify-content: space-around;
  width: 1270px;
  height: 165px;
  background-color: #dfdede;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #3b3d3e;
  color: white;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer h4 {
  font-weight: normal;
  margin: 0;
  margin-right: 20px;
}

/* .container {
  width: 1000px;
  margin: 0 auto;
} */
