html,
body {
    margin: 0;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("../Assets/webb.png");
}

/* Navbar */
nav {
    background: linear-gradient(
        90deg,
        rgba(0, 142, 215, 0.6) 50%,
        rgba(218, 30, 43, 0.6) 50%
    );
    color: #e4eef5;
}

.navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 142, 215, 0.6) 50%,
        rgba(218, 30, 43, 0.6) 50%
    );
    color: #e4eef5;
    position: absolute;
    z-index: 1;
}

.navWrapper a {
    color: #e4eef5;
    text-decoration: none;
}

.menu-link {
    font-size: 30px;
}

.menu-login {
    text-align: end;
    margin-top: 15px;
    margin-right: 20px;
}

.menu-login a {
    border-bottom: 1px solid;
}

.logo {
    position: absolute;
    margin: 0;
    height: 180px;
    width: 195px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo img {
    height: 180px;
    width: 195px;
}

.icon-toggle-btn {
    color: gray;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    margin-top: 30px;
}

.link {
    font-family: "Roboto", sans-serif; /*thin*/
    font-weight: 300;
    margin-top: 10px;
}

.navbar {
    transition: top 0.3s;
}

.nav-link-custom {
    font-size: 20px;
    color: white !important;
    font-weight: 300;
}

.nav-link-p-about {
    margin: 0;
    display: inline;
}

#link-sign-in-out {
    padding-bottom: 0;
    border-bottom: 1px solid white;
}

/*Content box*/
.content-box {
    display: flex;
    flex-direction: column;
}

/* Main */
.main-container {
    width: 100%;
    height: auto;
    /* background: url("../Assets/webb.png"); */
}

/* Header */
.header {
    width: 100%;
    height: 50px;
    margin-top: 135px;
    margin-bottom: 10px;
}

.header h2 {
    line-height: 50px;
}

.title {
    color: #686868;
    font-size: 1.5rem;
    font-weight: 300;
}

.icon {
    height: 30px;
    margin-bottom: 5px;
}

/*Form*/

.select-tipo-container {
    max-width: 150px;
    text-align: center;
}

.input-ubicacion-container {
    max-width: 400px;
    text-align: center;
}

.btn {
    font-weight: 300;
    color: white;
}

.btn-ubicacion {
    width: inherit;
    font-size: 0.9rem;
    margin-top: 10px;
    height: 30px;
    line-height: 18px;
    margin-top: 10px;
}

.select-hospital-container {
    max-width: 400px;
    text-align: center;
}

.select-hospital-container p {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 300;
}

.submit-solicitar-container {
    text-align: center;
}

.submit-solicitar-container button {
    width: 100px;
    padding: 10px 0;
}

/*Map*/
.map {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

/*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #3b3d3e;
    color: white;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer h4 {
    font-weight: normal;
    margin: 0;
    margin-right: 20px;
}

.footer-info h4 {
    font-size: 0.8rem;
}

.footer-icon {
    height: 100px;
}

@media screen and (min-width: 576px) {
    .form-row1 {
        justify-content: space-between !important;
    }
}

@media screen and (min-width: 768px) {
    .form-row {
        justify-content: space-between !important;
    }

    .btn {
        height: 3rem;
    }

    .title {
        font-size: 1.8rem;
    }

    .nav-link-custom {
        font-size: 25px;
    }

    .input-ubicacion {
        height: 3rem;
    }

    .btn-ubicacion {
        height: 2rem;
    }

    .submit-solicitar-container {
        padding: 30px;
    }

    .submit-solicitar-container button {
        width: 112px;
        height: 3.5rem;
        padding: 12px 0;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 991.98px) {
    nav {
        display: block !important;
    }

    .navbar-brand {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar-brand img {
        width: 150px;
    }

    .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }

    #item-about {
        margin-left: 75px;
    }

    .nav-link-p-about {
        display: block;
        margin: 0;
        line-height: 24px;
    }

    .header {
        margin-top: 200px;
    }

    .title {
        font-size: 2rem;
    }

    .map {
        order: 1;
        height: 330px;
    }

    .input-ubicacion-container {
        max-width: 50%;
    }
}
